<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G Tara Na</title>
</head>
<body>
    <h1>G Tara Na Backend Testing</h1>
    <p>
    <h3><a href="./test_frontend/detect">Chord Detection</a></h3>
    <h3><a href="./test_frontend/check">Chord Checker</a></h3>
    <h3><a href="./test_frontend/player">Chord Player</a></h3>
    <h3><a href="./test_frontend/history">Chord History</a></h3>
    </p>
</body>
</html>