<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title> Home </title>
</head>
<body>
    <div class="container_main">
        <div class="banner">
            <div class="navigation">
                <span id="dynamic-title"></span>
            </div>
            <div class="header">
                <img id="logo" src="./static/Logo.png" alt="Logo">
                <p id="title"> G! Tara Na! </p>
                <p id="subtitle"> Harmony Unleashed: Your Ultimate Guide to Guitar Chords! </p>
            </div>    
        </div>
        <div class="container_chordshapebtn">
            <a href="./major" class="button_chordshape">Major</a>
            <a href="./minor" class="button_chordshape">Minor</a>        
        </div>
    </div>
</body>
</html>
